@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Girassol&display=swap'); 

h1 {
    color:#f002ed;   
    font-family:  'Girassol';
}

p {
    font-family: 'Amatic SC' ;
    font-size: 25px;
    font-weight: 700;
    color:cyan
}

body {
    background-color: black;
}

a {
    display: inline-block;
    transform: rotate(180deg);
}